

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  background: #ef6b69;
}

.bg-image{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    background: url("../images/back-ground_tomato.svg") no-repeat center;
    background-size: cover;

    z-index: -1;

    pointer-events: none;
}


header {
  width: 100%;
  padding: 40px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 1;
}

.logo{
    font-family: "ab-don2", sans-serif;
    font-size: 48px;
    color: #005b56;
    text-shadow: 3px 3px 0px #0a7a73;
}

nav{
  margin-left: auto;
  margin-right: 60px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 45px;
}

nav a{
    text-decoration: none;
    color: #0c5b56;
    font-weight: 700;
}

main{
  z-index: 1;
}

.container{
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

.section{
    padding: 120px 0;
}

.section-title{
    font-family:"ab-don2", sans-serif;
    font-size:52px;
    color:#005b56;
    line-height:1;
}

.section-subtitle{
    margin-top:15px;
    font-size:22px;
    color:#005b56;
}

.btn{
    display:inline-block;
    margin-top:40px;
    padding:20px 55px;
    background:#005b56;
    color:#fff;
    text-decoration:none;
    border-radius:999px;
    font-weight:bold;
}

.hero-area{

  position: relative;

    min-height: 780px;

    overflow: hidden;
}


.menu-btn{
  text-decoration: none;
  background: #005a57;
  color: white;
  padding: 15px 35px;
  border-radius:999px;
  font-weight:bold;
}


.hero{
    width: 100%;
    min-height: 780px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;
}

.hero-main{
    width: 100%;
    max-width: 700px;

    text-align: center;
}

.pickup{
    display: none;
}

.tomato{
    position: absolute;
    z-index: 2;
}

.tomato1{
    width: 220px;
    top: 10px;
    left: 3%;
}

.tomato2{
    width: 120px;
    top: 180px;
    left: 24%;;
}

.tomato3{
    width: 180px;
    top: 350px;
    left: 7%;
}

.tomato4{
    width: 220px;
    top: 50px;
    right: 16%;
}

.catch{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fbfbe3;
}

.title{
    display:flex;
    justify-content:center;
    gap:25px;
    line-height: 1;
    margin: 20px 0;

    font-family:"ab-don2", sans-serif;
    font-size:150px;
    color:#005b56;
}

.title span:nth-child(1){
    transform:rotate(-15deg);
}

.title span:nth-child(2){
    transform:rotate(3deg);
}

.title span:nth-child(3){
    transform:rotate(12deg);
}

.text{
    width: 450px;
    margin: 30px auto;
    line-height: 1.8;
}

.about-btn{
  display: inline-block;
  margin-top: 40px;
  padding: 22px 60px;
  background: #005b56;
  color: white;
  text-decoration: none;
  border-radius: 999px;
  font-weight: 700;
  font-size: 24px;
}

.about{
    width:90%;
    max-width:1100px;

    margin:180px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap: 80px;
}


.about-area{
    position: relative;
    background: url("../images/background_tomato_02.svg") no-repeat top center;
    background-size: cover;
}

.about-content{
    flex: 1;
}

.about-image{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-image img{
    width: 100%;   
}

.about-text{
    margin: 30px 0;
    line-height: 2;
}

.recipe-area{
    position: relative;
    background: url("../images/background_tomato_03.svg") no-repeat top center;
    background-size: cover;
}